
.theme-dark {
    --color-background: #181818;
    --color-primary: cyan;
    --color-secondary: white;
}

.theme-red {
     --color-background: #181818;
     --color-primary: red;
     --color-secondary: white;

}

body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.main_container {
    padding: 20px;
}

.nav {
    width: auto;
    height: 60px;
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-size: 40px;
    border-bottom: 2px solid;
    border-color: var(--color-primary);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pfp img{
    border-radius: 50%;
    border: solid 2px ;
    border-color: var(--color-secondary);
    transition: ease-in 0.3s;
    display: flex;
    align-items: center;
}
.pfp:hover > img {
    border: solid 2px;
    border-color: var(--color-primary);
}
.buttons {
    background-color: transparent;
    border-radius: 10%;
    border: 2px solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-weight:700;
    font-size: 20px;
    color: var(--color-secondary);
    text-align: center;
    transition: ease-in 0.3s;
    margin-right: 12px;
}
.buttons:hover {
    background-color: #363636;
    cursor: pointer;
    color: var(--color-primary);
    border: 2px solid;
    border-color: var(--color-primary);
}
.buttons:hover > span > svg {
    fill: var(--color-primary);
}
.buttons span {
    font-size: 25px;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    padding: 0 1px 2px 0;
}
.buttons svg {
    fill: var(--color-secondary);
    padding-right: 1px;
    transition: ease-in 0.3s;
}

.demo {
    display: flex;
    flex-direction: column;  
}
.demo div {
    padding: 0 0 0 25px;
    display: inline-flex;
    align-items: center;
}



/* ______________________________________ */


.chbx_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chbx_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.chbx_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 10%;
    border: solid 2px;
    border-color: var(--color-primary);
}
.chbx_container:hover input ~ .chbx_checkmark {
    background-color: #363636;
}
.chbx_container input:checked ~ .chbx_checkmark {
    background-color: transparent;
}
.chbx_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.chbx_container input:checked ~ .chbx_checkmark:after {
    display: block;
}
.chbx_container .chbx_checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid;
    border-color: var(--color-primary);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* __________________________________ */

#hiddenDiv {
    padding: 0px 0 0 25px;
    position: relative;
}
.small_input_txt {
    background-color: transparent;
    color: var(--color-secondary);
    border: 0;
    border-bottom: 2px solid;
    border-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.big_input_txt {
    background-color: transparent;
    color: var(--color-secondary);
    border: 0;
    border-bottom: 2px solid;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=text]:focus {
    outline: none;
}

#updateSubmit {
    float: right;
    margin-top: 15px;
}

input[type=button], input[type=submit] {
    padding: 0px 10px;
    background-color: rgba(0, 255, 255, 0.2);
    border: 2px solid;
    border-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 10%;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: ease-in 0.15s;

}
input[type=button]:hover, input[type=submit]:hover {
    background-color: green;
    border: 2px solid var(--color-secondary);

}


/* _________________________________________________ */

.updateContainer {
    width: 500px;
    margin-left: 25px;
}
.updateContainer form {
    width: 100%;
}

.updateCell {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}
.deleteButton {
    background-color: transparent;
    border-radius: 10%;
    border: 2px solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    font-weight:700;
    font-size: 20px;
    color: var(--color-secondary);
    text-align: center;
    transition: ease-in 0.3s;
    margin-right: 11px;
    opacity: 0;

}
.updateCell:hover > .deleteButton {
    opacity: 1;
}
.deleteButton span {
    padding: 0 1px 5px 0;
}
.deleteButton:hover {
    background-color: #363636;
    cursor: pointer;
    color: red;
    border: 2px solid red;
}
.taskCell {
    width: inherit;
    display: flex;
}
.addInput {
    margin-left: -1px;
}