/* ----------------------------------- */
/* ------------- GENERAL ------------- */
/* ----------------------------------- */

.colortheme_0 {
    --color-background: #2d313d;
    --color-background_2: #353744;
    --color-primary: cyan;
    --color-secondary: white;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
    background-color: var(--color-background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.box {
    display: flex;
    flex-flow: column;
}

/* ----------------------------------- */
/* -------------- HEADER ------------- */
/* ----------------------------------- */

.box .header {
    flex: 0 1 58px;
    min-height: 58px;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-size: 40px;
    border-bottom: 2px solid;
    border-color: var(--color-primary);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    top: 0;
    left: 0;
    position: fixed;
}
.nav_left {
    display: flex;
    align-items: center;
}

.nav_right {
    display: flex;
    float: right;
    align-items: center;
    margin-right: 35px;
}

.pfp img{
    border-radius: 50%;
    border: solid 2px ;
    border-color: var(--color-secondary);
    transition: ease-in 0.3s;
    display: flex;
    align-items: center;
}
.pfp img:hover {
    border: solid 2px;
    border-color: var(--color-primary);
}
/* ----------------------------------- */
/* ---------- CUSTOM BUTTONS --------- */
/* ----------------------------------- */

.buttons {
    background-color: transparent;
    border-radius: 10%;
    border: 2px solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-weight:700;
    font-size: 20px;
    color: var(--color-secondary);
    text-align: center;
    transition: ease-in 0.3s;
    margin-right: 12px;
}
.buttons:hover {
    background-color: #363636;
    cursor: pointer;
    color: var(--color-primary);
    border: 2px solid;
    border-color: var(--color-primary);
}
.buttons:hover > span > svg {
    fill: var(--color-primary);
}
.buttons span {
    font-size: 25px;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    padding: 0 1px 2px 0;
}
.buttons svg {
    fill: var(--color-secondary);
    padding-right: 1px;
    transition: ease-in 0.3s;
}

/* ----------------------------------- */
/* ---------- DELETE BUTTONS --------- */
/* ----------------------------------- */

.delete_button {
    background-color: transparent;
    border-radius: 10%;
    border: 2px solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    font-weight:700;
    font-size: 20px;
    color: var(--color-secondary);
    text-align: center;
    transition: ease-in 0.3s;
    margin-right: 11px;
    opacity: 0;

}

.delete_button span {
    padding: 0 1px 5px 0;
}
.delete_button:hover {
    background-color: #363636;
    cursor: pointer;
    color: red;
    border: 2px solid red;

}

/* ----------------------------------- */
/* ---------- SUBMIT BUTTON ---------- */
/* ----------------------------------- */

input[type=button], input[type=submit] {
    padding: 0px 10px;
    background-color: rgba(0, 255, 255, 0.2);
    border: 2px solid;
    border-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 10%;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: ease-in 0.15s;

}
input[type=button]:hover, input[type=submit]:hover {
    background-color: green;
    border: 2px solid var(--color-secondary);
}
#updateSubmit {
    float: right;
    margin-top: 15px;
}

/* ----------------------------------- */
/* --------------- MAIN -------------- */
/* ----------------------------------- */

.box .main  {
    flex: 1 1 auto;
    display: flex;
}
.title {
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.main_content {
    padding: 20px;
}
.display_main {
    display: flex;
    flex-direction: column;  
}
.display_main div {
    padding: 0 0 0 25px;
    display: inline-flex;
    align-items: center;
}
#emptylist {
    padding-left: 60px;
    margin: 0;
    display: none;
}
#display_add {
    padding: 0px 0 0 25px;
    position: relative;
}
.addform_txt {
    margin-left: -1px;
}

/* ----------------------------------- */
/* ------------ SIDE BAR ------------- */
/* ----------------------------------- */

.side-bar {
    margin-top: 60px;
    height: 100vh;
    width: 25%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    background-color: var(--color-background_2);
}

.side_bar_menu {
    padding: 10px 20px 0;
}
.lists .list_ids:hover {
    cursor: pointer;
    color: lightgrey;
}
.list_checks {
    display: flex;
    vertical-align: baseline;
    font-size: 10px;
    color: white;
    opacity: 50%;
}

a, a:visited, a:focus, a:active {
    color: var(--color-secondary);
    text-decoration: none;
}
a:hover {
    color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}

.lists {
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_ids {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.deployable_btn {
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 255, 255, 0.5);
    transition: ease-in 0.3s;
    cursor: pointer;
    width: 100%;
    text-overflow: ellipsis;
}
.deployable_btn svg {
    display: flex;
    align-items: center;
}
.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.tasks {
    justify-content: space-between;
}

.deployable_btn span {
    padding-left: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;

} 


/* ----------------------------------- */
/* -------- CUSTOM CHECKBOXES -------- */
/* ----------------------------------- */

.chbx_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chbx_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 10%;
    border: solid 2px;
    border-color: var(--color-primary);
}
.chbx_container:hover input ~ .checkmark {
    background-color: #363636;
}
.chbx_container input:checked ~ .checkmark {
    background-color: transparent;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.chbx_container input:checked ~ .checkmark:after {
    display: block;
}
.chbx_container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid;
    border-color: var(--color-primary);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ----------------------------------- */
/* -------- CUSTOM TEXT INPUT -------- */
/* ----------------------------------- */

.small_input_txt {
    background-color: transparent;
    color: var(--color-secondary);
    border: 0;
    border-bottom: 2px solid;
    border-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.big_input_txt {
    width: inherit;
    background-color: transparent;
    color: var(--color-secondary);
    border: 0;
    border-bottom: 2px solid;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


input[type=text]:focus {
    outline: none;
}

/* ----------------------------------- */
/* ----------- UPDATE DIVS ----------- */
/* ----------------------------------- */

.updateContainer {
    width: 500px;
}
.updateContainer form {
    width: 100%;
}

.updateCell {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

.updateCell:hover > .delete_button {
    opacity: 1;
}


.taskCell {
    width: inherit;
    display: flex;
}

.order {
    width: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.subtitle {
    font-size: 12px;
    margin-top: -10px; 
    padding: 0px 35px 20px; 
    display: flex;
    justify-content: space-between;
}

.add_new, .see_all {
    padding-top: 15px;
    color: rgb(33, 161, 170);
    font-size: 12px;
    font-style: italic;
    text-align: right;
    cursor: pointer;
    transition: ease-in 0.1s;
}
.add_new:hover, .see_all:hover {
    color: cyan;
}

.side_bar_menu:hover > div > .deployable_btn {
    border-bottom: 1px solid cyan;
}